@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carrinho {
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 8px;
    right: 20px;
}

.carrinho a {
    text-decoration: none;
    color: rgb(143, 58, 58);
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

.menucategorias ul{
    display: flex;
    align-items: center;
    padding-right: 180px;
    position: relative;
    bottom: 26px;
    list-style: none;
    justify-content: flex-end;
}

.menucategorias ul li {
    margin-left: 8px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

.menucategorias ul li a {
    text-decoration: none;
    color: black;
}

.logo {
    position: relative;
    left: 20px;
    top: 18px;
}

.logo h2 {
    font-family: "Birthstone", cursive;
    font-weight: 500;
    font-style: normal;
    position: relative;
    left: 71px;
    font-size: 45px;
}
.apresentacao{
    padding: 199px;
    background-color: rgba(231, 231, 231, 0.815);
}
.pesquisa {
    padding: 50px;
}

.pesquisa form {
    position: relative;
    left: 1365px;    
    bottom: 250px;
}

.produtos {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 200px;
}

.cards {
    border-radius: 10px;
    position: relative;
    left: 180px;
    bottom: 180px;
    top: 120px;
}

.contato {
    text-align: center;
    padding: 20px;
    position: relative;
    top : 300px;
    background-color: rgba(231, 231, 231, 0.377);
}
.copyright {
    text-align: center;
    padding: 20px;
    position: relative;
    top : 300px;
    background-color: rgba(231, 231, 231, 0.377);
}