*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carrinho {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 18px;
    right: 20px;
}

.menucategorias ul{
    display: flex;
    align-items: center;
    padding-right: 180px;
    list-style: none;
    justify-content: flex-end;
}

.menucategorias ul li {
    margin-left: 15px;
}

.logo {
    justify-content: flex-start;
    padding-top: 20px;
    position: relative;
    left: 20px;
    top: 18px;
}

.apresentacao{
    padding: 199px;
}
.pesquisa {
    padding: 50px;
    justify-content: flex-end;
}


